<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a href="/" class="w3-bar-item w3-button">
      <img style="height: 35px; width: auto" th:src="@{/img/logo.png}"/>
    </a>
    <a href="/incident/register" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SEARCH</a>
    <a href="/hero/register" class="w3-bar-item w3-button w3-padding-large w3-hide-small">REGISTER</a>
    <a href="/hero/listing" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HEROES</a>
  </div>
</div>