<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:include="fragments/headerLibs"></th:block>
</head>
<body>

<th:block th:include="fragments/navbar"></th:block>

<div class="w3-content" style="max-width:2000px">

    <!-- The Register Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide w3-center">Welcome !</h2>
        <img style="width: -webkit-fill-available;"   th:src="@{/img/home.png}"/>
    </div>

    <!-- End Page Content -->
</div>
<th:block th:include="fragments/footer"></th:block>

</body>

</html>